<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Pet</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div th:replace="base :: menubar"></div>


    <h2>Add New Pet</h2>
<form action="#"
      th:action="@{/processPet}"
      th:object="${pet}"
      method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{owner}"/>
<br/><br/>
<h1>Spring Boot file upload example</h1>
<form method="POST" action="/add" th:object="${pet}"
      enctype="multipart/form-data">
    Name: <input type="text" th:field="*{name}"/>
    Category: <input type="text" th:field="*{category}"/>
    Lost on: <input type="text" th:field="*{date}"/>
    Status: <input type="text" th:field="*{status}"/>
    <input type="file" name="file"/><br/><br/>
    <input type="submit" value="Submit"/>
</form>

<div th:replace="base :: footer"></div>

</body>
</html>